<main>
  <div class="container">
    <div class="row">
      <h5>マイページ</h5>
    </div>

      <strong class="my-page">登録情報</strong>
   <%= link_to "編集する", public_customer_edit_path, class: "btn btn-success px-4" %>

<div class="my-page-table">
      <table class="table table-bordered">
  <tbody>
    <tr>
      <td width="250" class="table-secondary">氏名</td>
      <td><%= @customer.last_name %><%= @customer.first_name %></td>
    </tr>
    <tr>
      <td class="table-secondary">カナ</td>
      <td><%= @customer.last_name_kana %><%= @customer.first_name_kana %></td>
    </tr>
    <tr>
      <td class="table-secondary">郵便番号</td>
      <td><%= @customer.postal_code %></td>
    </tr>
    <tr>
      <td class="table-secondary">住所</td>
      <td><%= @customer.address %></td>
    </tr>
    <tr>
      <td class="table-secondary">電話番号</td>
      <td><%= @customer.telephone_number %></td>
    </tr>
    <tr>
      <td class="table-secondary">メールアドレス</td>
      <td><%= @customer.email %></td>
    </tr>
  </tbody>
</table>
</div>

<table class="table table-borderless">
  <tbody>
    <tr>
      <th scope="row" width="100">配送先</th>
      <td><%= link_to "一覧を見る", addresses_path(@customer), class: "btn btn-primary px-4" %></td>
    </tr>
    <tr>
      <th scope="row">注文一覧</th>
      <td><%= link_to "一覧を見る", orders_path(@customer), class: "btn btn-primary px-4" %></td>
    </tr>
  </tbody>
</table>

  </div>

</main>