

<main>
  <div class="container">
  <div class="row">

<h2><strong>管理者</strong>ログイン</h2>

  <div class="container">


<%= form_with model: @session, url: '/admin/sign_in', method: :post do |f| %>
  <div class="field">
    <span>メールアドレス</span>
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="field">
    <span>パスワード</span>
    <%= f.password_field :password, autocomplete: "current-password" %>
  </div>


  <div class="actions">
    <%= f.submit "ログイン" %>
  </div>
<% end %>

<%= render "admin/shared/links" %>
  </div>
</div>
  </div>
</div>
</main>