<main　style="height: 200px">
  <div class="container mt-5">
　  <div class="row">
      <h5 bg-secondary><strong>管理者</strong>ログイン</h5>
    </div>
    <div class="row">
      <div  class="mx-auto">
        <%= form_with model: @admin, url: new_admin_session_path do |f| %>
          <table class="table table-borderless">
            <tbody>
              <tr>
                <td>メールアドレス</td>
                <td><%= f.email_field :email, autofocus: true, autocomplete: "email",placeholder: "sample@example.com",  size: 40 %></td>
              </tr>
              <tr>
                <td>パスワード</td>
                <td><%= f.password_field :password, autocomplete: "current-password", size: 40 %></td>
              </tr>
              <tr>
                <td></td>
                <td><%= f.submit "ログイン", class: "btn btn-primary px-5" %></td>
              </tr>
            </tbody>
          </table>
        <% end %>

        <%= render "admin/shared/links" %>
      </div>
    </div>
  </div>
</main>