<main>
    <%= form_with model: @admin_customer, url: admin_customer_update_path, method: :patch do |f| %>
    <h4><%= @admin_customer.last_name %><%= @admin_customer.first_name %>さんの会員詳細</h4>
   <table class="table table-borderless">

    </tbody>
      <tr>
        <td>会員ID</td>
        <td> <%= @admin_customer.id %></td>
      </tr>
    </tbody>
      <tbody>
        <tr>
          <td>氏名</td>
          <td>
            <%= f.text_field :last_name %>
            <%= f.text_field :first_name %>
          </td>
        </tr>
        <tr>
          <td>フリガナ</td>
          <td>
            <%= f.text_field :last_name_kana %>
            <%= f.text_field :first_name_kana %>
          </td>
        </tr>
      </tbody>
        <tr>
          <td>郵便番号</td>
          <td><%= f.text_field :postal_code %></td>
        </tr>
      </tbody>
        <tr>
          <td>住所</td>
          <td><%= f.text_area :address %></td>
        </tr>
        </tbody>
      </tbody>
        <tr>
          <td>電話番号</td>
          <td><%= f.telephone_field :telephone_number %></td>
        </tr>
        </tbody>
      </tbody>
        <tr>
          <td>メールアドレス</td>
          <td><%= f.email_field :email %></td>
        </tr>
        </tbody>
      </tbody>
      </tbody>
        <tr>
          <td>会員ステータス</td>
          <% if @admin_customer.is_active? %>
            <td class="text-success">有効</td>
          <% else %>
            <td lass="text-secondary">退会</td>
          <% end %>
        </tr>
        </tbody>
      </tbody>
        <tr>
          <td></td>
          <td><%= f.submit "更新を保存", class: "btn btn-success" %></td>
        </tr>
        </tbody>
       </table>

   <% end %>
</main>