<main>
  <div class="container">
    <dev class="row">
      <h5>会員一覧</h5>

        <table class="table">
          <thead>
            <tr>
              <td scope="col">会員ID</td>
              <td scope="col">氏名</td>
              <td scope="col">メールアドレス</td>
              <td scope="col">ステータス</td>
            </tr>
          </thead>
        <tbody>
      <% @admin_customer.each do |customer| %>
         <tr>
          <td scope="row"><%= customer.id %></td>
          <td><%= link_to  admin_customer_show_path(customer.id) do %>
                <%= customer.last_name %><%= customer.first_name %>
              <% end %>
          </td>
          <td><%= customer.email %></td>
            <% if customer.is_active? %>
              <td class="text-success">有効</td>
            <% else %>
              <td class="text-secondary">退会</td>
            <% end %>
          </tr>
      <% end %>
  </tbody>
</table>
   <%= paginate @admin_customer %>
          </dev>
   </div>
</main>