<main>
  <div class="container">
    <dev class="row">
      <h4>会員一覧</h4>

        <table class="table">
          <thead>
            <tr>
              <td scope="col">会員ID</td>
              <td scope="col">氏名</td>
              <td scope="col">メールアドレス</td>
              <td scope="col">ステータス</td>
            </tr>
          </thead>
        <tbody>
       <% @admin_customer.each do |customer| %>
     <tr>
      <td scope="row"><%= customer.id %></td>
      <td><%= link_to  admin_customer_show_path(customer.id) do %>
            <%= customer.last_name %><%= customer.first_name %>
          <% end %>
      </td>
      <td><%= customer.email %></td>
      <td><%= customer.is_active %></td>
    </tr><% end %>
  </tbody>
</table>
   <%= paginate @admin_customer %>
          </dev>
   </div>
</main>