<main>
  <div class="container">
      <h4>注文詳細</h4>
        <table class="table table-borderless">
          <tbody>
            <tr>
             <th scope="row">購入者</th>
             <td>
               <%= link_to admin_customer_show_path(@order.id) do %>
                 <%= @order.name %>
               <% end %>
             </td>
            </tr>
            <tr>
              <th scope="row">注文日</th>
              <td><%= @order.created_at.strftime('%Y/%m/%d') %></td>
            </tr>
            <tr>
              <th scope="row">配送先</th>
              <td>
                〒<%= @order.postal_code %>
                <%= @order.address %>
                <%= @order.name %>
              </td>
            </tr>
            <tr>
              <th scope="row">支払方法</th>
              <td><%= @order.payment_method_i18n %></td>
            </tr>
          </tbody>
        </table>

        <table class="table table-borderless">
          <thead class="thead-light">
            <tr>
              <th scope="col">商品名</th>
              <th scope="col">単価（税込）</th>
              <th scope="col">数量</th>
              <th scope="col">小計</th>
           </tr>
          </thead>
          <tbody>
          </tbody>
        </table>
        <table class="table table-borderless">
          <tbody>
            <tr>
              <th scope="row">商品合計</th>
               <% @total = @order.total_payment - @order.post_age %>
              <td><%= @total.to_s(:delimited) %></td>
            </tr>
            <tr>
              <th scope="row">送料</th>
              <td><%= @order.post_age %></td>
            </tr>
            <tr>
              <th scope="row">請求金額合計</th>
              <th colspan="2"><%= @order.total_payment.to_s(:delimited) %></th>
            </tr>
          </tbody>
        </table>
  </div>
</main>