<main>
  <div class="container">
    <div class="row">
      <h4>注文詳細</h4>
        <table class="table table-borderless">
          <tbody>
            <tr>
             <th scope="row">購入者</th>
             <td>
               <%= link_to admin_customer_show_path(@order_detail.id) do %>
                 <%= @order_detail.name %>
               <% end %>
             </td>
            </tr>
            <tr>
              <th scope="row">注文日</th>
              <td><%= @order_detail.created_at.strftime('%Y/%m/%d') %></td>
            </tr>
            <tr>
              <th scope="row">配送先</th>
              <td>
                <%= @order_detail.orders.postal_code %>
                <%= @order_detail.orders.address %>
              </td>
            </tr>
            <tr>
              <th scope="row">支払方法</th>
              <td><%= @order_detail.orders.payment_method %></td>
            </tr>
          </tbody>
        </table>

        <table class="table table-borderless">
          <thead class="thead-light">
            <tr>
              <th scope="col">商品名</th>
              <th scope="col">単価（税込）</th>
              <th scope="col">数量</th>
              <th scope="col">小計</th>
           </tr>
          </thead>
          <tbody>
            <% @order.each do |order| %>
              <tr>
                <td><%= order.genre.name %></td>
                <td><%= order.tax_included_price %></td>
                <td><%= order.amount %></td>
                <td><%= order.items.subtotal.to_s(:delimited) %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
        <table class="table table-borderless">
          <tbody>
            <tr>
              <th scope="row">商品合計</th>
              <td></td>
            </tr>
            <tr>
              <th scope="row">送料</th>
              <td><%= @order_detail.order.post_age %></td>
            </tr>
            <tr>
              <th scope="row">請求金額合計</th>
              <th colspan="2"><%= @order_detail.total_payment %></th>
            </tr>
          </tbody>
        </table>
    </div>
  </div>
</main>