
<main>
  <div class="container">
    <div class="row">
      <h5>注文履歴一覧</h5>
    </div>
        <div class="order-table">
        <table class="table", id="border">
          <thead>
            <tr class="table-active">
              <th scope="col" width="400">購入日時</th>
              <th scope="col">購入者</th>
              <th scope="col">注文個数</th>
            </tr>
          </thead>
          <% @orders.each do |order| %>
            <tbody>
              <tr>
                <td class="link">
                 <%= link_to admin_order_show_path(order.id) do %>
                  <%= order.created_at.strftime('%Y/%m/%d %H:%M:%S') %>
                 <% end %>
                </td>
                <td>
                  <%= order.customer.last_name %>
                  <%= order.customer.first_name %>
                </td>
                <td><%= order.order_detail %></td>
              </tr>
            </tbody>
          <% end %>
        </table>
        <div class="order-paginate">
          <%= paginate @orders %>

        </div>
    </div>
  </div>
</main>