<main>
  <div class="container">
    <div class="row">
      <h5>配送先編集</h5>
    </div>
    <%= form_with model: @address, url: public_address_update_path, method: :patch do |f| %>
    <table class="table table-borderless">

  <tbody>
    <tr>
      <td width="200">郵便番号(ハイフンなし)</td>
      <td width="400"><%= f.text_field :postal_code %></td>
      <td></td>
    </tr>
    <tr>
      <td>住所</td>
      <td><%= f.text_area :address, size: "60x1" %></td>
      <td></td>
    </tr>
    <tr>
      <td>宛名</td>
      <td><%= f.text_field :name %></td>
      <td><%= f.submit "更新内容を保存", class: "btn btn-success px-4" %></td>
    </tr>
  </tbody>
  <% end %>
</table>

  </div>
</main>



