<main>
  <div class="container">
    <h4>配送先編集</h4>
    <%= form_with model: @address, url: public_address_update_path, method: :patch do |f| %>
    <table class="table table-borderless">

  <tbody>
    <tr>
      <td>郵便番号(ハイフンなし)</td>
      <td><%= f.text_field :postal_code %></td>
      <td></td>
    </tr>
    <tr>
      <td>住所</td>
      <td><%= f.text_area :address %></td>
      <td></td>
    </tr>
    <tr>
      <td>宛名</td>
      <td><%= f.text_field :name %></td>
      <td><%= f.submit "更新内容を保存", class: "btn btn-success" %></td>
    </tr>
  </tbody>
  <% end %>
</table>

  </div>
</main>