<main>
  <div class="container">
    <h5>配送先登録/一覧</h5>
    <%= form_with model: @address, url: '/addresses', method: :post do |f| %>
    <table class="table table-borderless">
  <tbody>
    <tr>
      <td>郵便番号(ハイフンなし)</td>
      <td><%= f.text_field :postal_code, placeholder: "00000000" %></td>
      <td></td>
    </tr>
    <tr>
      <td>住所</td>
      <td><%= f.text_area :address,  placeholder: "東京都渋谷区代々木神園町0-0" %></td>
      <td></td>
    </tr>
    <tr>
      <td>宛名</td>
      <td><%= f.text_field :name, placeholder: "令和道子" %></td>
      <td><%= f.submit '新規登録', class: "btn btn-success" %></td>
    </tr>
  </tbody>
</table>
<% end %>

<table class="table table-bordered">
  <thead>
    <tr>
      <td scope="col">郵便番号</td>
      <td scope="col">住所</td>
      <td scope="col">宛名</td>
      <td scope="col"></td>
    </tr>
  </thead>
  <% @addresses.each do |address| %>
  <tbody>
    <tr>
      <td><%= address.postal_code %></td>
      <td><%= address.address %></td>
      <td><%= address.name %></td>
      <td><%= link_to "編集する", public_address_edit_path(address), class: "btn btn-success" %><%= link_to "削除する", public_address_destroy_path(address), class: "btn btn-danger" %></td>
    </tr>
  </tbody>
  <% end %>
</table>

  </div>
</main>