<main>
    <div class="container">
      <div class="row">
        <h5>ショッピングカート</h5>
      </div>
      <div class="cart_btn">
       <%= link_to "カートを空にする", cart_items_destroy_all_path, method: :delete, class: "btn btn-danger" %>
      </div>
      <table class="table table-bordered">
        <thead>
          <tr class="table-secondary">
            <th scope="col">商品名</th>
            <th scope="col">単価（税込）</th>
            <th scope="col">数量</th>
            <th scope="col">小計</th>
            <th scope="col"></th>
          </tr>
        </thead>
        <% @cart_items.each do |cart_item| %>
          <tbody>
            <tr>
              <td><%= image_tag cart_item.item.get_image(100,100) %><%= cart_item.item.name %></td>
              <td ><%= cart_item.item.with_tax_price.to_s(:delimited) %></td>
              <td align="center">
                <%= form_with model: cart_item, url: cart_item_update_path(cart_item), method: :patch do |f| %>
                  <%= f.select :amount,*[1..10] %>
                  <%= f.submit "変更", class: "btn btn-success" %>
                <% end %>
              </td>
              <td><%= cart_item.subtotal.to_s(:delimited) %></td>
              <% @total+= cart_item.subtotal %>
              <td align="center"><%= link_to "削除する", cart_item_destroy_path(cart_item.id), method: :delete, class: "btn btn-danger" %></td>
            </tr>
          </tbody>
        <% end %>
    </table>
  <div class="sopping-btn">
  <%= link_to "買い物を続ける", root_path, class: "btn btn-primary" %>

   <div class="cart_table">
    <table class="table table-bordered">
      <tbody>
         <td class="table-secondary" width="200">合計金額</td>
         <td width="200"><%= @total.to_s(:delimited) %></td>
      </tbody>
    </table>
  </div>
    </div>
    <div class="next-btn">
    <% if @cart_items.any? %>
     <%= link_to "情報入力に進む", orders_new_path, class: "btn btn-success px-4" %>
    <% end %>
    </div>


    </div>
</main>