

<main>
  <div class="container">
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= render "public/shared/error_messages", resource: resource %>

    <div class="row">
    <h5>新規会員登録</h5>
    </div>
   <table class="table table-borderless">
    <tbody>
      <tr>
        <td width="200">名前</td>
        <td width="10" align="right">(姓)</td>
        <td width="200"><%= f.text_field :last_name, autofocus: true, autocomplete: "last_name" %></td>
        <td width="10" align="right">(名)</td>
        <td><%= f.text_field :first_name, autofocus: true, autocomplete: "first_name" %></td>
      </tr>
        <tr>
          <td >フリガナ</td>
          <td width="70" align="right">(セイ)</td>
          <td><%= f.text_field :last_name_kana, autofocus: true, autocomplete: "last_name_kana" %></td>
          <td width="70" align="right">(メイ)</td>
          <td><%= f.text_field :first_name_kana, autofocus: true, autocomplete: "first_name_kana" %></td>
        </tr>
        <tr>
          <td>メールアドレス</td>
          <td></td>
          <td><%= f.email_field :email, autofocus: true, autocomplete: "email" %></td>
        </tr>
        <tr>
          <td>郵便番号(ハイフンなし)</td>
          <td></td>
          <td><%= f.text_field :postal_code, autofocus: true, autocomplete: "postal_code" %></td>
        </tr>
        <tr>
          <td >住所</td>
          <td></td>
          <td colspan="3"><%= f.text_area :address, autofocus: true, autocomplete: "address", size: "55x1" %></td>
          <td></td>
        </tr>
        <tr>
          <td >電話番号(ハイフンなし)</td>
          <td></td>
          <td><%= f.telephone_field :telephone_number, autofocus: true, autocomplete: "telephone_numbe" %></td>
        </tr>
        <tr>
          <td>
            パスワード
            <% if @minimum_password_length %>
             <em>(<%= @minimum_password_length %> 文字以上)</em>
            <% end %>
          </td>
          Z<td></td>
          <td>
          <%= f.password_field :password, autocomplete: "new-password" %>
          </td>
        </tr>
        <tr>
          <td>パスワード(確認用)</td>
          <td></td>
          <td><%= f.password_field :password_confirmation, autocomplete: "new-password" %></td>
        </tr>
        <tr>
          <td></td>
          <td></td>
          <td><%= f.submit "新規登録", class: "btn btn-success btn-block" %></td>
        </tr>
        </tbody>
       </table>
   <% end %>
        <div class="row">
         <h5>既に登録済みの方</h5>
        </div>
        <div class="a">
      <%= link_to "こちら", new_customer_session_path, class: "link" %>からログインしてください。
      </div>
   </div>
</main>