<main>
  <div class="container">
    <h4>注文情報確認</h4>
    <table class="table table-bordered">
  <thead>
    <tr>
      <th scope="col">商品名</th>
      <th scope="col">単価（税込）</th>
      <th scope="col">数量</th>
      <th scope="col">小計</th>
    </tr>
  </thead>
  <% @cart_items.each do |cart_item| %>
  <tbody>
    <tr>
      <td><%= image_tag cart_item.item.get_image(100,100) %><%= cart_item.item.name %></td>
      <td><%= cart_item.item.with_tax_price.to_s(:delimited) %></td>
      <td><%= cart_item.amount %></td>
      <td><%= cart_item.subtotal.to_s(:delimited) %></td>
          <% @total+= cart_item.subtotal %>

    </tr>
  </tbody>
  <% end %>
</table>
<table class="table table-bordered">
  <tbody>
    <tr>
      <th scope="row">送料</th>
      <% @order.post_age = 800 %>
      <td><%= @order.post_age %></td>
    </tr>
    <tr>
      <th scope="row">商品合計</th>
      <td><%= @total %></td>
      <% @total_payment = @order.post_age + @total %>

    </tr>
    <tr>
      <th scope="row">請求金額</th>
      <td ><%= @total_payment %></td>
    </tr>
  </tbody>
</table>

<strong>支払い方法</strong>
<%= @order.payment_method_i18n %>
<br>
<strong>お届け先</strong>
〒<%= @order.postal_code %>
<%= @order.address %>
<%= @order.name %>


<%= form_with model: @order, url: orders_path, method: :post, local: true do |f| %>
   <%= f.hidden_field :customer_id %>
   <%= f.hidden_field :post_age %>
   <%= f.hidden_field :total_payment %>
   <%= f.hidden_field :payment_method %>
   <%= f.hidden_field :name %>
   <%= f.hidden_field :address %>
   <%= f.hidden_field :postal_code %>
  <%= f.submit "注文を確定する", class: "btn btn-success" %>
 <% end %>


</div>
</main>